<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,700&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>

<header>
    <div id="headline">
        <a id="logo">UE3</a>
        <div id="headline-right">
            <small id="register-text">Bist du neu hier?</small>
            <a href="login.html"><button id="headline-button">Login</button></a>
        </div>
    </div>
</header>

<body>
<div id="main">
    <h1 id="textline">Login</h1><br>

    <div id="login-box">
        <label><b>Email</b></label><br>
        <input id="emailInput" class="inputbox" type="email" placeholder="Deine Email" name="email" required><br>

        <label><b>Passwort</b></label><br>
        <input id="pwInput" class="inputbox" type="password" placeholder="Dein Passwort" name="password" required><br>

        <button onclick="login()" class="submit-button">Login</button>
        <br><br>
        <label><b>Demo User:</b></label><br>
        <label><b>Email: 123@123.com</b></label><br>
        <label><b>Passwort: 123123</b></label><br>
    </div>

    <div id="reg-user-box">
        <form>
            <h1><label>Registrierte User</label></h1>
            <label>
                Suche:  &nbsp; <input type="text" name="name" class="inputbox" placeholder="Name" v-model="search">
            </label>
        </form>

        <table class="well">
            <tr>
                <th>Name</th>
                <th>Land</th>
                <th>Typ</th>
            </tr>
            <tr v-for="user in Users| filterBy search in 'name'">
                <td>{{user.name}}</td>
                <td>{{user.country}}</td>
                <td>{{user.type}}</td>
            </tr>

        </table>
    </div>

    <script>
        new Vue({
            el:"#reg-user-box",
            data:{
                Users:[
                    {name:"Robin Zeininger", country:"AUT", type:"Admin"},
                    {name:"Franz Muller", country:"GER", type:"Member"},
                    {name:"David Alaba", country:"AUT", type:"Member"},
                    {name:"Donald Trump", country:"USA", type:"Member"},
                    {name:"Bart Simpson", country:"USA", type:"Member"},
                    {name:"Heinrich Erste", country:"AUT", type:"Inactive"},
                    {name:"Sebastian Kurz", country:"AUT", type:"Member"},
                    {name:"Nameless One", country:"?", type:"?"}
                ],
                search:""
            }
        })
    </script>
</div>
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
<script src="vue.js"></script>
<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDynhdEleDY5NlllkwFdmb0oTFVKG6aw5o",
        authDomain: "webengineering-d7354.firebaseapp.com",
        databaseURL: "https://webengineering-d7354.firebaseio.com",
        projectId: "webengineering-d7354",
        storageBucket: "webengineering-d7354.appspot.com",
        messagingSenderId: "1099393785040",
        appId: "1:1099393785040:web:08880bc110d02de64952d5"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
<script src="login.js"></script>
</body>
</html>
