html, body {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    height:100%;
}

body {
    background-color: #212121;
    min-height:100%;
    position:relative;
}

a {
    text-decoration: none;
}

a:hover
{
    text-decoration:none;
    cursor:pointer;
}

h2{
    font-weight: 500;
    font-size: 1.5em;
}

hr{
    width: 70%
}

/***** HEADER *****/

#logo{
    display: inline-block;
    margin-left: 20%;
    padding-top: 17px;
    color: black;
    font-weight: 700;
}

#headline{
    width: 100%;
    height: 50px;
    background-color: white;
}

#headline-right{
    float: right;
    margin-right: 20%;
}

#register-text{
    color: black;
    font-size: 0.8em;
    margin-right: 25px;

}

#headline-button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    color: black;
    font-size: 0.8em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: transparent;
    cursor: pointer;
}

#headline-button:hover {
    transition: 0.2s;
    color: white;
    background-color: black;
}

/***** BODY *****/

#textline {
    font-size: 2.5em;
}

#background {
    background-image: url('../media/space0.gif');
    background-size:cover;
}

#main{
    padding-top: 70px;
    margin-left: 20%;
    color: white;
}

#description{
    line-height: 1.6;
    margin-top: -15px;
}

.inputbox{
    height: 40px;
    width: 200px;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: transparent;
    text-indent: 5px;
    color: white;
}

.news-inputbox{
    height: 40px;
    width: 400px;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: transparent;
    text-indent: 5px;
    color: white;
}

#newsletter-box {
    height: 50px;
    margin-top: 20px;
    padding-bottom: 30px;
    background: #212121;
    color: white;
    text-align: center;

}

#people-box {
    color: white;
    margin: 20px auto;

}

ol {
    display: table;
    margin: 0 auto;
}

#slider-box {
    margin: 30px auto;
    text-align: center;
}

.mySlides {
    display: none;
    width: 50%;
    height: 400px;
    margin: 0 auto;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}

.sliderButton {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    color: black;
    font-size: 1.1em;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.submit-button{
     width: 150px;
     height: 40px;
     margin-top: 20px;
     background-color: white;
     color: black;
     font-size: 1.1em;
     border-radius: 5px;
     border-style: none;
     cursor: pointer;

 }

#video-box {
    padding-top: 30px;
    margin-left: 20%;
    color: white;
    width: 1000px;
}

#newsletter-form{
    margin: 0 auto;
}

#videos {
    margin: 0 auto;
    text-align: center;
}

.iframe {
    width: 300px;
    margin-left: 10px;
    height: 150px;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
}

#news-box {
    text-align: center;
    color: white;
}