<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,700&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>

<header>
    <div id="headline">
        <a id="logo" href="content.html">UE1</a>
        <div id="headline-right">
            <small id="register-text">Bist du neu hier?</small>
            <a href="login.html"><button id="headline-button">Login</button></a>
        </div>
    </div>
</header>

<body>
<div id="main">
    <h1 id="textline">Login</h1><br>

    <form id="login-box">
        <label><b>Username</b></label><br>
        <input id="userInput" class="inputbox" type="text" placeholder="Dein Username" name="username" required><br>

        <label><b>Passwort</b></label><br>
        <input id="pwInput" class="inputbox" type="password" placeholder="Dein Passwort" name="password" required><br>

        <div id="login-trigger">
            <div :style="styleLogin" class="login-container">
                <a  :style="btnLogin" @click="login" href="#">{{ info }}</a>
                <button :style="closeBtn" @click="close" class="closeBtn">X</button>
                <span :style="done" class="done" v-html="status"></span>
            </div>
        </div>
    </form>

    <div id="reg-user-box">
        <form>
            <h1><label>Registrierte User</label></h1>
            <label>
                Suche:  &nbsp; <input type="text" name="name" class="inputbox" placeholder="Name" v-model="search">
            </label>
        </form>

        <table class="well">
            <tr>
                <th>Name</th>
                <th>Land</th>
                <th>Typ</th>
            </tr>
            <tr v-for="user in Users| filterBy search in 'name'">
                <td>{{user.name}}</td>
                <td>{{user.country}}</td>
                <td>{{user.type}}</td>
            </tr>

        </table>
    </div>

    <script>
        new Vue({
            el:"#reg-user-box",
            data:{
                Users:[
                    {name:"Robin Zeininger", country:"AUT", type:"Admin"},
                    {name:"Franz Muller", country:"GER", type:"Member"},
                    {name:"David Alaba", country:"AUT", type:"Member"},
                    {name:"Donald Trump", country:"USA", type:"Member"},
                    {name:"Bart Simpson", country:"USA", type:"Member"},
                    {name:"Heinrich Erste", country:"AUT", type:"Inactive"},
                    {name:"Sebastian Kurz", country:"AUT", type:"Member"},
                    {name:"Nameless One", country:"?", type:"?"}
                ],
                search:""
            }
        })
    </script>

    <script>
        new Vue({
            el: "#login-trigger",
            data() {
                return {
                    info: "Login",
                    result: "",
                    styleLogin: {
                        background: "#ffffff",
                        width: "150px",
                        height: "40px",
                        fontsize: "1.1em",
                        borderRadius: "5px",
                        borderStyle: "none",
                        textAlign: "center"
                    },
                    closeBtn: {
                        opacity: 0
                    },
                    btnLogin: {
                        width: "100%"
                    },
                    done: {},
                    messages: [
                        "Laden..."
                    ],
                    status: ""
                };
            },
            methods: {
                login() {
                    var interval = setInterval(() => {
                        this.status = this.messages;
                    }, 1500)

                    setTimeout(() => {
                        clearInterval(interval);
                        this.status = "Login erfolgreich!";
                        this.styleLogin =  {
                            background: "#4aa65c",
                            color: "#fff",
                            width: "280px",
                            height: "190px",
                            fontsize: "1.1em",
                            borderRadius: "5px",
                            borderStyle: "none"
                        },
                            (this.done = {
                                color: "#000000",
                                opacity: 1,
                                transform: "translate(-50%,-50%)",
                                transition: 'all 0.3s 0s',
                                fontsize: "1.1em",
                                borderRadius: "5px",
                                borderStyle: "none"
                            }),

                            (this.closeBtn = {
                                marginTop: "-160px",
                                marginRight: "-110px",
                                borderRadius: "5px",
                                borderStyle: "none",
                                opacity: 1,
                                visibility: 'visible',
                                color: '#000000',
                                background: "#fff",
                                width: "30px",
                                height: "30px",
                                cursor: "pointer"
                            })
                    },8000),

                        (this.styleLogin = {
                            textAlign: "center",
                            background: "#000000",
                            width: "280px",
                            height: "190px",
                            fontsize: "1.1em",
                            borderRadius: "5px",
                            borderStyle: "none"
                        }),
                        (this.btnLogin = {
                            background: "#ffffff",
                            transform: "translateY(91px)",
                            transition: "transform 0.4s 0.3s, width 0.4s 0.3s, padding 0.4s 0.2s",
                            width: "5%",
                            paddingTop: "4px",
                            paddingBottom: "4px",
                            cursor: "default",
                            animation: "loading 8s 1.0s forwards"
                        }),
                        (this.done = {
                            opacity: 1,
                            transform: "translate(-50%,-50%)"
                        }),
                        (this.info = "");
                },

                close() {
                    this.status = '',
                        (this.styleLogin = {
                            background: "#ffffff",
                            width: "150px",
                            height: "40px",
                            fontsize: "1.1em",
                            borderRadius: "5px",
                            borderStyle: "none"
                        }),
                        (this.closeBtn = {
                            opacity: 0
                        }),
                        (this.btnLogin = {
                            width: "100%",
                            transform: "translateY(0px)",
                            transition: "transform 0.3s 0s"
                        }),
                        (this.done = {
                            opacity: 0,
                            transition: "all 0.1s 0s"
                        });
                    this.info = "Login";
                }
            }
        });
    </script>

    <script>
        var usernameInput = document.getElementById("userInput");
        var pwInput = document.getElementById("pwInput");
    </script>
    <script src="vue.js"></script>
</div>
</body>
</html>
